*{
    padding: 0;
    margin: 0;

}
.container{
    background-color:white;
    width: 100vw;
    height: 100vh;
}
.box1{
    background-color:#3E2D21;
    height: 30%;
    width:30%;
}
.box2{
    background-color:#FAEDED;
    height: 70%;
    width:30%;    
}
.box3{
    background-color:yellow;
    height: 200px;
    width:200px;    
}